.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 15px
}

.container {
  min-height: 100vh;
  background: #eeee;
  padding: 15px;
}

.post {
  background: #ffff;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  transition: transform 150ms ease-in-out;
}

.post:hover {
  transform: scale(1.05);
}

.post img {
  max-width: 100%;
}

.post-content {
  padding: 10px;
} 

.button-container {
  margin-top: 30px;
  display: flex;
}

.search-container {
  margin-bottom: 25px;
  align-items: center;
}

.search-container h1 {
  margin-bottom: 25px;
} 